* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: quote;
    src: url(../font/Autography.otf);
}

header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 150px;
    border-bottom: 5px solid #253cb0;
    outline: 5px solid #ed2939;
}

header img {
    height: 100%;
    border-radius: 100%;
    padding: 20px;
}

header p {
    padding-left: 60px;
    font-size: 50px;
    font-family: quote;
}

#main {
    width:70%;
    margin: auto;
}

#title {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

#title h1 {
    font-family: quote;
    width: fit-content;
}

#title img {
    height: 100px;
}

#onglets {
    margin-bottom: 30px;
}

.tabs {
    display: flex;
}

.tabs li {
    width: 50%;
}

#intolerances-title img {
    height: 20px;
    margin-right: 20px;
}

.checkboxes {
    display: grid;
    grid-template: repeat(4,1fr) / repeat(4,1fr);
    grid-gap: 0.2%;
}

.enter-button {
    margin-top: 30px;
}

#no-result {
    display: flex;
    width:50%;
    justify-content:center;
    font-style: italic;
    color: grey;
}
#result {
    display: flex;
    justify-content: space-between;

}

.side-result {
    width: 30%;
    height: 200px;
    border: grey 2px solid;
    box-shadow: grey 0 0 2px;
}


.rotate-180-up {
    animation: 0.5s rotate-up forwards;
}

@keyframes rotate-up {
    from {
        transform: rotate(0);
    }
    to   {
        transform: rotate(180deg);
    }
}

.rotate-180-down {
    animation: 0.5s rotate-down forwards;
}

@keyframes rotate-down {
    from {
        transform: rotate(180deg);
    }
    to   {
        transform: rotate(0);
    }
}


#recettes-apercu {
    width: 65%;
}

.grid-recettes {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    grid-gap: 2%;
    margin-top: 20px;
}

/* Re-definition de Materialize */
.btn, .btn-large, .btn-small {
    background-color: #253cb0;
}

.btn:hover, .btn-large:hover, .btn-small:hover {
    background-color: #142362;
}

input[type=text]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid #253cb0;
    -webkit-box-shadow: 0 1px 0 0 #253cb0;
    box-shadow: 0 1px 0 0 #253cb0;
}

.tabs .tab a:hover, .tabs .tab a.active {
    color: #de1823;
}

.tabs .tab a {
    color: rgba(255, 0, 12, 0.5);
}

.tabs .indicator {
    background-color: #de1823;
}

[type="checkbox"].filled-in:checked + span:not(.lever):after {
    border: 2px solid #253cb0;
    background-color: #253cb0;
}
